
<footer class="font-small">
    <div style="background-color: #6351ce;">
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0 text-white">Get connected with us on social networks!</h6>
            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <a>
                    <i class="fab fa-facebook-f foot-icon-sty"></i>
                  </a>
                  <a>
                    <i class="fab fa-twitter foot-icon-sty"> </i>
                  </a>
                  <a>
                    <i class="fab fa-google-plus-g foot-icon-sty"> </i>
                  </a>
                  <a>
                    <i class="fab fa-linkedin-in foot-icon-sty"> </i>
                  </a>
                  <a>
                    <i class="fab fa-instagram foot-icon-sty"> </i>
                  </a>
            </div>
          </div>
        </div>
      </div>
  
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold text-white">WCE</h6>
            <hr class="purple mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex vel obcaecati, esse explicabo aspernatur optio amet minima dolorum quam eum, nobis magni. Cupiditate aut ullam, placeat magnam assumenda rerum id.</p>
          </div>
          
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold text-white">Opening Hours</h6>
            <hr class="purple mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="text-white">Monday<span> - </span>Friday <i class="fas fa-arrow-right"></i><span>  10:00 am </span><span> - </span><span>9:00 pm</span></p>
            <p class="text-white">Saturday <i class="fas fa-arrow-right"></i><span>  10:00 am </span><span> - </span><span>7:00 pm</span></p>
            <p class="text-white">Sunday <i class="fas fa-arrow-right"></i><span>  10:00 am </span><span> - </span><span>5:00 pm</span></p>
            <p class="text-white">Note: WCE is closed on Holidays.</p>
          </div>
      
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold text-white">Contact</h6>
            <hr class="purple mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="text-white">
              <i class="fas fa-home mr-3"></i> Location, city - 123456</p>
            <p class="text-white">
              <i class="fas fa-envelope mr-3"></i> www.wce.com</p>
            <p class="text-white">
              <i class="fas fa-phone mr-3"></i> +91 12345678</p>
            <p class="text-white">
              <i class="fas fa-print mr-3"></i> +91 1234567</p>
          </div>
  
        </div>
      </div>
    
      <div class="copyright text-center py-3 text-white">© 2020 Copyright:
        <a class="whitek" href="#">WCE</a>
      </div>
  
    </footer>


