<app-overview></app-overview>

<div class="page-wrap">

    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-one">
                <h1>The <span class="emphasis">Germany</span>. <br><span>Description.</span></h1>
                <p>XYX</p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-two">
                <p class="paragraph">
                  A Prophet sat in the market-place and told the fortunes of all who cared to engage his services. Suddenly there came running up one who told him that his house had been broken into by thieves, and that they had made off with everything they could lay
                  hands on.
                </p>
              </div>
            </div>
          </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
  </div>

  
  <div class="page-wrap">
  
    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-three">
                <h1>The <span class="emphasis">Singapore</span>. <br><span>Description.</span></h1>
                <p>XYX</p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-four">
                <p class="paragraph">
                  A thirsty Crow found a Pitcher with some water in it, but so little was there that, try as she might, she could not reach it with her beak, and it seemed as though she would die of thirst within sight of the remedy.
                </p>
              </div>
            </div>
          </div>
          
         
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
  </div>
  
  <div class="page-wrap">
  
    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-five">
                <h1>The <span class="emphasis">United</span>. <br><span>Description.</span></h1>
                <p>XYX</p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-six">
                <p class="paragraph">
                  A Prophet sat in the market-place and told the fortunes of all who cared to engage his services. Suddenly there came running up one who told him that his house had been broken into by thieves, and that they had made off with everything they could lay
                  hands on.
                </p>
              </div>
            </div>
          </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
  </div>

  
  <div class="page-wrap">
  
    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-seven">
                <h1>The <span class="emphasis">USA</span>. <br><span>Description.</span></h1>
                <p>XYX</p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-eight">
                <p class="paragraph">
                  A thirsty Crow found a Pitcher with some water in it, but so little was there that, try as she might, she could not reach it with her beak, and it seemed as though she would die of thirst within sight of the remedy.
                </p>
              </div>
            </div>
          </div>
          
         
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
  </div>

  
  <div class="page-wrap">
  
    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-nine">
                <h1>The <span class="emphasis">Hong Kong</span>. <br><span>Description.</span></h1>
                <p>XYX</p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-ten">
                <p class="paragraph">
                  A Prophet sat in the market-place and told the fortunes of all who cared to engage his services. Suddenly there came running up one who told him that his house had been broken into by thieves, and that they had made off with everything they could lay
                  hands on.
                </p>
              </div>
            </div>
          </div>
          
         
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
  </div>
  <!-- <script src='../../assets/js/script5.js'></script> -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script>
 

