body {
    background-color: #a0aec0;
  }  
    .faq-nav {
      flex-direction: column;
      margin: 0 0 32px;
      border-radius: 2px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
      margin-top: 14px;
    }
    .faq-nav .nav-link {
      position: relative;
      display: block;
      margin: 0;
      padding: 13px 16px;
      background-color: #fff;
      border: 0;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      color: #616161;
      transition: background-color .2s ease;
    }
    .faq-nav .nav-link:hover {
      background-color: #f6f6f6;
    }
    .faq-nav .nav-link.active {
      background-color: #f6f6f6;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }
    .faq-nav .nav-link:last-of-type {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: 0;
    }
  
    .tab-content {
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    }
    
    div.adj{
      width: 100%;
    }
    
    .flex.justify-between{
        font-size: 15px;
        font-weight: 200;
    }  