<div class="start">
    <input id="panel-1-ctrl"
    class="panel-radios" type="radio" name="tab-radios" checked>
    <input id="panel-2-ctrl"
    class="panel-radios" type="radio" name="tab-radios">
    <input id="nav-ctrl"
    class="panel-radios" type="checkbox" name="nav-checkbox">
    
    <header id="introduction">
    <h1>eLab Locations</h1>
    <h5 style="text-align: center;">EXPERIENCE LIFE IN TWO OF EUROPE’S MOST VIBRANT ENTREPRENEURIAL CITIES
    </h5>
    </header>
    
    <!-- TABS LIST -->
    <ul id="tabs-list">
    <!-- MENU TOGGLE -->
    <label id="open-nav-label" for="nav-ctrl"></label>
    <li id="li-for-panel-1">
    <label class="panel-label"
          for="panel-1-ctrl">BERLIN</label>
    </li><!--INLINE-BLOCK FIX
    --><li id="li-for-panel-2">
    <label class="panel-label"
          for="panel-2-ctrl">LONDON</label>
    </li>
    <label id="close-nav-label" for="nav-ctrl">Close</label>
    </ul>
    
    <!-- THE PANELS -->
    <article id="panels">
    <div class="container">
    <section id="panel-1">
    <main>
     <h1>Berlin</h1>
     <p>
        Youthful character and a vibrant cultural scene make this renowned start-up hub a young entrepreneurs dream. eLab Berlin is ideally located in the central part of the city, in the lively, colorful Kreuzberg district. Buzzing with culture, cafés, music and street festivals, Kreuzberg is the home to many startups and co-working spaces.</p> 
    <hr>
     <h2>Our beautifully designed spaces include:</h2>
     <h3>STATE-OF-THE-ART work spaces:</h3>
     <pre style="line-height: 10px;"><ul>
       <li>A spacious lounge for networking events and to relax</li>
       <li>Meeting rooms</li>
       <li>Break-out rooms</li>
       <li>Dedicated work desks</li>
       <li>Airy and spacious classrooms</li>
        <li>High-speed internet</li>
        <li>Printers</li>
    </ul></pre>
    
     <h3>Access:</h3>
     <pre style="line-height: 10px;"><ul>
       <li>Outdoor seating and terrace</li>
       <li>On-site café</li>
       <li>Numerous cafes and restaurants in easy walking distance</li>
       <li>Convenient metro stop just across the street</li>
     </ul></pre>
     <hr>
     
     <h3>HOUSING</h3>
     <pre>Participants can find housing independently or take advantage of housing we have carefully selected and <br>negotiated for you (please note: availability may vary). We’ve selected new one-bedroom studio apartments <br>close to eLab, in the middle of the startup scene and close to cafes, restaurants, leisure areas, and <br>shopping. Studios have fully equipped kitchenettes including a microwave, bi-weekly towel change, weekly <br>maid service, free WiFi, gym, and laundry rooms. Prices start EUR 1,490 for six weeks.</pre>
     <hr>
     <h2>Find Us At:</h2>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.346340259381!2d13.393401315219618!3d52.49096997980871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84fd79ef0b4fd%3A0x80b63b06f789f03f!2sCIEE%20Global%20Institute%20%E2%80%93%20Berlin!5e0!3m2!1sen!2sin!4v1585406039905!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </main>
    </section>
    <section id="panel-2">
        <main>
            <h1>London</h1>
            <p>London history may be grounded in Roman times, but it’s always reaching for the future. As a major financial center with a strong flow of venture capital and a leading hub for the arts, you’ll find a high-energy vibe and plenty of eclectic neighborhoods to explore. Home to nearly nine million people from all over the globe, you can hear 300 languages here.</p>
            <hr>
            <h2>Our beautifully designed spaces include:</h2>
            <h3>STATE-OF-THE-ART work spaces:</h3>
            <pre style="line-height: 10px;"><ul>
              <li>A spacious lounge for networking events and to relax</li>
              <li>Meeting rooms</li>
              <li>Break-out rooms</li>
              <li>Dedicated work desks</li>
              <li>Airy and spacious classrooms</li>
               <li>High-speed internet</li>
               <li>Printers</li>
           </ul></pre>
           
            <h3>Access:</h3>
            <pre style="line-height: 10px;"><ul>
              <li>A business center for scanning, printing, photocopies and more</li>
              <li>Outdoor deck</li>
              <li>In-house café</li>
              <li>Numerous cafes and restaurants in easy walking distance</li>
              <li>Convenient metro stop</li>
            </ul></pre>
            <hr>
            
            <h3>HOUSING</h3>
            <pre>Participants can find housing independently or take advantage of housing we have carefully selected and <br>negotiated for you. (Please note: Availability may vary.) We’ve selected new one-bedroom studio apartments <br>close to eLab, in the middle of the startup scene and close to cafes, restaurants, leisure areas, and <br>shopping. Studios have fully equipped kitchenettes including a microwave, bi-weekly towel change, weekly <br>maid service, free WiFi, gym, and laundry rooms. Prices start GBP 2,490 for six weeks.</pre>
            <hr>
            <h2>Find Us At:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.595476064666!2d-0.12795348482913146!3d51.52063707963723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b317ba4314f%3A0xc89dc77c1d0c7bbd!2sCIEE%20Global%20Institute%20London!5e0!3m2!1sen!2sin!4v1585407117471!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>           </main>
            </section>
    </div>
    </article>
    </div>