

    <div class="start">
        <div class="container pad">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quae vitae esse alias doloribus, possimus necessitatibus, eos consectetur voluptas corrupti adipisci? Voluptatem labore laborum iure excepturi animi. Distinctio, facere accusamus? -->
            <div class="box-vessel">
                <div class="box shadow">
                    <div class="box-pad">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="img-set">
                                    <figure>
                                        <img src="../../assets/images/Canada.jpg" id="tt" class="img-thumbnail" alt="" srcset="">
                                        
                                        <!-- <figcaption class="caption"><b>United States of America</b></figcaption> -->
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="text-set">
                                    <b>United States of America</b>
                                    <p>The U.S. is a country of 50 states covering a vast swath of North America, with Alaska in the extreme Northwest and Hawaii extending the nation’s presence into the Pacific Ocean. Major cities include New York, a global finance and culture center, and Washington, DC, the capital, both on the Atlantic Coast; Los Angeles, famed for filmmaking, on the Pacific Coast; and the Midwestern metropolis.</p>
                                    <b>Captal: </b>Washington, D.C.<br>
                                    <b>Dialing code: </b>+1<br>
                                    <b>President: </b>Donald Trump<br>
                                    <b>Population: </b>328 million (2019)<br>
                                    <b>States: </b>California, Hawaii, Florida, Texas, Massachusetts, Alaska<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <!-- partial:index.partial.html -->
            <!-- TAB CONTROLLERS -->
            <input id="panel-1-ctrl" class="panel-radios" type="radio" name="tab-radios" checked>
            <input id="panel-2-ctrl" class="panel-radios" type="radio" name="tab-radios">
            <input id="panel-3-ctrl" class="panel-radios" type="radio" name="tab-radios">
            <input id="panel-4-ctrl" class="panel-radios" type="radio" name="tab-radios">
            <input id="panel-5-ctrl" class="panel-radios" type="radio" name="tab-radios">
            <input id="nav-ctrl" class="panel-radios" type="checkbox" name="nav-checkbox">

            <!-- <header id="introduction">
            <h1>No JS: Tabs That Scale Down to Menu</h1>
            </header> -->      

            <!-- TABS LIST -->
            <ul id="tabs-list">
            <!-- MENU TOGGLE -->
                <label id="open-nav-label" for="nav-ctrl"></label>
                    <li id="li-for-panel-1">
                        <label class="panel-label"
                            for="panel-1-ctrl"><i class="fas fa-university isize"></i> <b>Institutes</b></label>
                    </li><!--INLINE-BLOCK FIX
                    --><li id="li-for-panel-2">
                        <label class="panel-label"
                            for="panel-2-ctrl"><i class="fas fa-book isize"></i> <b>Why Study in here?</b></label>
                    </li><!--INLINE-BLOCK FIX
                    --><li id="li-for-panel-3">
                        <label class="panel-label"
                            for="panel-3-ctrl"><i class="fas fa-coins isize"></i> <b>Cost</b></label>
                    </li><!--INLINE-BLOCK FIX
                    --><li id="li-for-panel-4">
                        <label class="panel-label"
                            for="panel-4-ctrl"><i class="fas fa-globe isize"></i> <b>Visa and Immigration</b></label>
                    </li><!--INLINE-BLOCK FIX
                    --><li id="li-for-panel-5" class="last">
                        <label class="panel-label"
                            for="panel-5-ctrl"><i class="fas fa-briefcase isize"></i> <b>Post Study Work Opportunities</b></label>
                    </li>
                <label id="close-nav-label" for="nav-ctrl">Close</label>
            </ul>

            <!-- THE PANELS -->
            <article id="panels" class="pan text">
            <div class="container">
            <section id="panel-1">
                <main>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse doloremque, repellendus officia dolorum odio dolor obcaecati ad veniam consectetur quas dignissimos quis ut excepturi possimus expedita ab eum blanditiis omnis!
                    
                </main>
            </section>
            <section id="panel-2">
                <main>
                    <b>Beyond Education:</b>
                            <p>Besides the fact that America is like a beautiful molten chocolate cake, luring and teasing us offering the very best, both in terms of educational facilities as well as lifestyle, there are certain things about America that makes it undeniably one of the most sought after educational hubs in the world. To begin with, America has more than 10 campuses per country than any other country in the world. At the undergraduate level, the US provides excellent programmes both in the traditional as well as professional subjects. Apart from variety, some of the advantages of studying in the US are exposure to cutting edge technology, opportunity for research, training & teaching, flexibility of courses, support service for international students, rich campus life and global education facilities.</p>
                            
                            <b>Array of opportunities:</b>
                            <p>Students aspiring to study in the US can choose from a wide range of subjects from over 3600 colleges, universities and institutes covering about 900 fields of study. And probably this is why America is the number one destination for international students. And why not, because students have the liberty to choose from public or private university, a liberal arts college or a technical school, a women's or men's only college to a religiously-affiliated institution. The American structure of study is not just lectures, study sessions and tests. It comprises of community activities as well through varied social, cultural, and sports activities.</p>
                            
                            <b>Education System in USA</b>
                            <p>The more you know about the American educational system, the more you will benefit from it.
                                <ul>
                                    <li>The United States does not have a single unified education system. Federal and state laws regulate the operation of educational institutions to an extent, but few laws govern the actual subject areas covered or educational goals at any given academic level.</li>
                                    <li>Public education for children in America is extremely fragmented, and is usually under the control of local communities. Private education, including schools affiliated with religious organizations, has an even lower level of government oversight.</li>
                                    <li>The American university system is not really a system at all, it is so diverse, encompassing private and public institutions, some operating for profit. Private corporations, rather than the government, administer a system of aptitude examinations for college entry, even to public universities. Specialized trade and technical schools fill an important need. For people who are working but still would like to further their education, it is possible to obtain a masters degree through one of many MBA online programs that are available. For people whose main goal is the love of learning rather than the attainment of educational degrees, adult education centers exist in many communities.</li>
                                </ul>
                            

                            <b>Colleges and Universities</b>
                            <p>The terms college and university are often used interchangeably. A university is a larger institution often having more than one college for example law, medical and dental schools or business or other specialized schools. The term campus refers to the land the college sits on and the buildings on it. Colleges range from huge state-supported university systems to small liberal arts and religious schools.
                                <ul>
                                    <li>Two year colleges, often called community colleges, usually award the Associate of Arts degree (A.A.). They accept most applicants, are often public supported, and have lower tuition than four-year schools.</li>
                                    <li>Four year colleges, called undergraduate schools, form the mainstream of American higher education. Admission requirements, courses offered, residence facilities and other features will vary widely. These colleges give bachelors degrees, usually a bachelor of arts (B.A.) or a bachelor of science (B.S.).</li>
                                    <li>Private colleges can be extremely expensive. Students with financial difficulties have access to a well-developed system of financial aid, however, which can dramatically reduce costs through a combination of grants, loans, and work-study programs.</li>
                                </ul>
                            

                            <b>Types of Colleges:</b>
                            <p>The most prestigious colleges in the eastern part of the United States--like Harvard, Princeton and Yale--are known as the Ivy League because of the characteristic ivy plants that frequently grow on the sides of their beautiful old buildings. Other colleges, especially some of the large state schools, are known as football or basketball schools due to their emphasis on athletics. Most colleges are co-educational (co-ed), meaning that they accept both men and women, though many single-sex colleges still exist.</p>
                            <p>Colleges and universities with religious affiliations are widely found in America. Some, though not all, give or require religious instruction along with academic subjects. Most major religious groups in America have their own systems of sponsored colleges.</p>

                            <b>Eligibility to apply to universities in USA</b>
                            <p>
                                <ul>
                                    <li>A lot of paperwork!</li>
                                    <li>The college application process in the United States is elaborate. Though colleges do cooperate on certain paperwork matters, like the Scholastic Aptitude Test and some financial aid applications, each college will have different application forms and fees, different deadlines, and different requirements for admission. Choosing the right college is the first step. Many guides to American colleges are published, and extensive information on colleges is available on the Internet.</li>
                                    <li>Good academics</li>
                                    <li>TOEFL/ IELTS /GMAT/GRE/SAT (As per the university requirement)</li>
                                    <li>Finance to support education</li>
                                    <li>Passport</li>
                                </ul>
                                Once you are accepted to a college, the work will begin all over again. You will have a great deal of paperwork to do.
                            

                            <b>Job prospects in USA</b>
                            <p>USA has always been the ultimate destination for Indians looking job abroad from ages. Around 30% of the workforce in USA is Indian citizens. Being the world power, US is a haven for a person who is planning to make it big in the world. The country welcomes everyone from everywhere and gives ample opportunities and space for one to grow. It is the nucleus of world economy’s cycle.</p>

                            <b>Relevance of degree from USA in India</b>
                            <p>USA is a major attraction for students to pursue their higher studies. Every year, students in large number move to the country in order to accomplish their dreams. In India, a degree from USA is considered of high repute. However, it is always advisable to check the validity of any degree before you invest your money in a foreign land.</p>

                </main>
            </section>
            <section id="panel-3">
                <main>
                    <b>Cost of education</b>
                    <p>The cost of education in USA varies from state to state, type of university and course of study. Universities in US are divided into two categories: Public/ State Institutions and Private Institutions. Depending upon in which university you are studying at, average tuition fees or cost ranges from $15000 to $30000 approximately per year for private universities, USD10000 to USD20000 approximately per year for public universities and $8000 to $12000 approximately per year for community colleges. Hence, the average cost of studying in US varies from USD5,000 to USD50,000 approximately per year depending upon the course. The cost of education in US is high for MBA and Medicine courses in comparison to Engineering courses.</p>
                    <b>Cost of living</b>
                    <p>The cost of living in US also depends upon types of accommodation you choose and your daily expenses. You can opt for Dormitories, Campus Apartments, Off Campus accommodation and Homestay (living with a host family). You might end up paying $3500 to $6000 approximately per semester for Dormitories, USD400– USD700 approximately per month while living with a host family, $400 approximately per month for shared campus apartment, $800 approximately per month for single campus apartment and USD300 to USD600 approximately per month for a rented apartment. You should keep additional $1000 to $2000 approximately if you are planning to stay in dormitory as it might be closed during vacations. Apart from accommodation, your living expenses will also include cost of food, groceries, clothing, sundry and phone. The cost of living in US might vary from $10,000 to $12,000 approximately per year.</p>
                </main>
            </section>
            <section id="panel-4">
                <main>
                    <p>A student wishing to study in the US will require a non immigrant visa. A non immigrant visa is issued to someone who is looking for a short term stay in the US to accomplish specific purposes. You are required to have your Visa appointment Letter and CEAC barcode I-20, SEVIS fee to be paid (you can choose to pay on-line and the receipt is good enough to present at the visa interview).</p>
                            <b>Documents to be submitted:</b>
                            <p>
                                <ul>
                                    <li>Form I-20A-B, Certificate of Eligibility for Nonimmigrant (F-1) Student Status-For Academic and Language Students or Form I-20M-N, Certificate of Eligibility for Nonimmigrant (M-1) Student Status for Vocational Students. You will need to submit a SEVIS generated Form, I-20, which was provided to by school.</li>
                                    <li>Completed Application Form DS-156, DS- 157, DS -158, DSP- 2019 (IAP 166)</li>
                                    <li>At certain U.S. Embassies and Consulates abroad, nonimmigrant visa applicants are now required to apply for their visa using the new DS-160 Online Nonimmigrant Visa Electronic Application, instead of the nonimmigrant application forms DS-156, 157, 158, and other related forms.</li>
                                    <li>Passport valid for travel to the United States and with a validity date at least six months beyond the applicant's intended period of stay in the United States</li>
                                    <li>One colored photograph 2 X 2 inches square for each applicant, showing a full face, without head covering, against a light background.</li>
                                    <li>Original TOEFL scores and SAT/ GRE/ GMAT scores whichever is applicable.</li>
                                    <li>Spouses and minor children accompanying the student to the United States should bring marriage certificates, wedding photos, and birth certificates with them to the interview, to prove the relationship between themselves and the principal applicant.</li>
                                </ul>
                            
                </main>
            </section>
            <section id="panel-5">
                <main>
                    <p>Students are permitted to work <b><u>20 hours per week</u></b> on-campus during the first years of study. In the second year students are allowed to take part-time jobs or co-op/internships off campus to fulfil academic or financial requirements. The on campus jobs do not pay much and certainly not enough to finance a university education. This kind of jobs can only be a supplement to other funds.</p>
                        <p>Along with the acceptability and recognition of education, USA also offers the best in terms of future job prospects and immigration possibilities after studies. All students are entitled to stay back and work for one year period in USA under OPT (Optional Professional Training). Majority of the students are successful in finding a suitable placement and secure H1B (Job Visa) during the period.</p>
                        <p>Once you enrolled in the campus, there will be "The International Student Orientation Program," coordinated by the Admissions Office or the Office of International Programs. This program will introduce you to social life on a U.S. campus. Information on many topics like immigration, academic advisors, computer and library resources, telephone services, public safety, medical services, and banking and transportation options will be provided through this program.</p>
                        <p>There are many transportation options for getting around in your new country. A bicycle or bike is affordable travel options for short distances. If you are living in a city, the bus system will likely be pretty extensive, as with most of the public transportation systems in large urban areas. Trains are good for travelling the USA. They are slightly more expensive than travelling by bus, but it is much quicker. Taxis can be extremely expensive for students.</p>
                </main>
            </section>
            </div>
            </article>
            <!-- partial -->
        </div>
    </div>

 