
    <div class="startTT">
        <div class="header animate1">
            <h1>GRE (Graduate Record Examinations)</h1>
        </div>
        <div class="container">
            <div class="box-vessel">
                <div class="box animate2">
                    <div class="box-pad text">
                        <p>GRE is a standardized test for admissions into graduate school in the US. It is mandatory for most students aspiring for a Master’s Degree (except Business, Law and Medicine) and PhD courses in several universities in the US. The GRE revised General Test is accepted at thousands of graduate and business schools as well as departments and divisions within these schools. Applicants come from varying educational and cultural backgrounds and the GRE revised General Test provides a common measure for comparing candidates' qualifications.</p>
                    </div>
                </div>
            </div>
            <div class="sub-head animate3">
                <h3><i class="fas fa-scroll"></i> Facts of GRE</h3>
            </div>
            <div class="box-vessel">
                <div class="box animate4">
                    <div class="box-pad text">
                        <ul>
                            <li><b>Why should I take the GRE ?</b>
                            <p>GRE scores are used by admissions or fellowship panels to supplement your undergraduate records, recommendation letters and other qualifications for graduate-level study.</p>
                            <br></li>
                            <li><b>When is it offered?</b>
                            <p>The GRE revised General Test is given year-round at computer-based test centres in most locations around the world. Appointments are scheduled on a first-come, first-served basis. You can take the GRE revised General Test (computer-based and paper-based) only once every 60 days, and no more than five times within any continuous rolling 12-month period. This applies even if you cancelled your scores on a test taken previously.</p>
                            <br></li>
                            <li><b>How is the GRE designed?</b>
                            <p>An unidentified unscored section may be included and may appear in any order after the Analytical Writing section. It is not counted as part of your score. An identified research section that is not scored may be included, and it is always at the end of the test.</p>
                            <br></li>
                            <li><b>How long is my test score valid?</b>
                            <p>The GRE scores are valid for 5 years.</p>
                            <br></li>
                            <li><b>What are unscored and research sections?</b>
                            <p>GRE is now a multi-stage or adaptive by section test. This means that how you perform on the first verbal reasoning section will determine the difficulty level of the second verbal reasoning section. The same goes for math.</p>
                            <br></li>
                            <li><b>What is the test order?</b>
                            <p>The Analytical Writing section will always be first, while the other five sections may appear in any order.</p>
                        </li>    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

