

<div class="services-section">
          
    <div class="inner-width">
      <h1 class="section-title">Our Services</h1>
      <div class="border"></div>
      
      <div class="services-container">
         
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="service-title">Study Abroad</div>
          <div class="service-desc">
              Study Abroad Programs give you the opportunity to experience the world as your classroom.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-briefcase"></i>
            
          </div>
          <div class="service-title">Internship</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-plane"></i>
          </div>
          <div class="service-title">Study Tour</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-id-card-alt"></i>
          </div>
          <div class="service-title">Training</div>
          <div class="service-desc">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-clipboard"></i>
          </div>
          <div class="service-title">Tests</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-university"></i>
          </div>
          <div class="service-title">E-labs programs</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
         
        </div>
      </div>
    </div>
    
  </div>
  
