
<div style="background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%) !important;
min-height: 100vh;
font: normal 16px sans-serif;
padding: 60px 0;">
<div class="container gallery-container">

<h1>Image Gallery</h1>

<p class="page-description text-center">Tap on image to zoom</p>

<div class="tz-gallery">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Bridge">
            </a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Coast">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Rails">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Rocks">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Benches">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../assets/images/France.jpg">
                <img src="../../assets/images/France.jpg" alt="Sky">
            </a>
        </div>
    </div>

</div>

</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

