<!--<div class="start" > 
      
    <div class="container" style="color:antiquewhite;">
     <h1 id="heading1">Our Reach</h1>
     <hr class="hrstyle" style="align-items: center;">
    </div>

    <div class="custcontainer">

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
          
            <a href="#"><div class="card">
              <div class="card__image-container">
                <img class="card__image" src="../../../assets/images/Australia.jpg" alt="">
              </div>
                
                <svg class="card__svg" viewBox="0 0 800 500">
          
                  <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                  <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>
              
              <div class="card__content">
                <h3 class="card__title">Australia</h3>
              </div>
            </div></a>
          
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#"><div class="card">
            <div class="card__image-container">
              <img class="card__image" src="../../../assets/images/Canada.jpg" alt="">
            </div>
              
              <svg class="card__svg" viewBox="0 0 800 500">
        
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
              </svg>
            
            <div class="card__content">
              <h3 class="card__title">Canada</h3>
            </div>
          </div></a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
          
          <a href="#"><div class="card">
            <div class="card__image-container">
              <img class="card__image" src="../../../assets/images/France.jpg" alt="">
            </div>
              
              <svg class="card__svg" viewBox="0 0 800 500">
        
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
              </svg>
            
            <div class="card__content">
              <h3 class="card__title">France</h3>
            </div>
          </div></a>
        
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#"><div class="card">
            <div class="card__image-container">
              <img class="card__image" src="i../../../assets/images/Malaysia1.jpg" alt="">
            </div>
              
              <svg class="card__svg" viewBox="0 0 800 500">
        
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
              </svg>
            
            <div class="card__content">
              <h3 class="card__title">Malaysia</h3>
            </div>
          </div></a>
        </div>
      </div>
    </div>
    <div class="custcontainer">
      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
          
          <a href="#"><div class="card">
            <div class="card__image-container">
              <img class="card__image" src="../../../assets/images/NZ.jpg" alt="">
            </div>
              
              <svg class="card__svg" viewBox="0 0 800 500">
        
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
              </svg>
            
            <div class="card__content">
              <h3 class="card__title">New Zealand</h3>
            </div>
          </div></a>
        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
          
        <a href="#"><div class="card">
          <div class="card__image-container">
            <img class="card__image" src="../../../assets/images/Singapore.jpg" alt="">
          </div>
            
            <svg class="card__svg" viewBox="0 0 800 500">
      
              <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
              <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
            </svg>
          
          <div class="card__content">
            <h3 class="card__title">Singapore</h3>
          </div>
        </div></a>
      
    </div>
      <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
        <a href="#"><div class="card">
          <div class="card__image-container">
            <img class="card__image" src="../../../assets/images/UK.jpg" alt="">
          </div>
            
            <svg class="card__svg" viewBox="0 0 800 500">
      
              <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
              <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
            </svg>
          
          <div class="card__content">
            <h4 class="card__title">United Kingdom</h4>
          </div>
        </div></a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#"><div class="card">
          <div class="card__image-container">
            <img class="card__image" src="../../../assets/images/USA.jpg" alt="">
          </div>
            
            <svg class="card__svg" viewBox="0 0 800 500">
      
              <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
              <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
            </svg>
          
          <div class="card__content">
            <h4 class="card__title">United States of America</h4>
          </div>
        </div></a>
      </div>
      </div>
    </div>
    
    </div>
</div>-->
