<div class="start"> 
      
  <div class="container" style="color:antiquewhite;">
   <h1 id="heading1">Our Reach</h1>
   <hr class="hrstyle" style="align-items: center;">
  </div>

  <div class="custcontainer">

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
        
          <a href="#"><div class="card">
            <div class="card__image-container">
              <img class="card__image" src="../../../assets/images/Australia.jpg" alt="">
            </div>
              
              <svg class="card__svg" viewBox="0 0 800 500">
        
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
              </svg>
            
            <div class="card__content">
              <h3 class="card__title">Australia</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
            </div>
          </div></a>
        
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#"><div class="card">
          <div class="card__image-container">
            <img class="card__image" src="../../../assets/images/Canada.jpg" alt="">
          </div>
            
            <svg class="card__svg" viewBox="0 0 800 500">
      
              <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
              <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
            </svg>
          
          <div class="card__content">
            <h3 class="card__title">Canada</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
          </div>
        </div></a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
        
        <a href="#"><div class="card">
          <div class="card__image-container">
            <img class="card__image" src="../../../assets/images/France.jpg" alt="">
          </div>
            
            <svg class="card__svg" viewBox="0 0 800 500">
      
              <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
              <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
            </svg>
          
          <div class="card__content">
            <h3 class="card__title">France</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
          </div>
        </div></a>
      
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#"><div class="card">
          <div class="card__image-container">
            <img class="card__image" src="../../../assets/images/Malaysia1.jpg" alt="">
          </div>
            
            <svg class="card__svg" viewBox="0 0 800 500">
      
              <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
              <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
            </svg>
          
          <div class="card__content">
            <h3 class="card__title">Malaysia</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
          </div>
        </div></a>
      </div>
    </div>
  </div>
  <div class="custcontainer">
    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
        
        <a href="#"><div class="card">
          <div class="card__image-container">
            <img class="card__image" src="../../../assets/images/NZ.jpg" alt="">
          </div>
            
            <svg class="card__svg" viewBox="0 0 800 500">
      
              <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
              <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
            </svg>
          
          <div class="card__content">
            <h3 class="card__title">New Zealand</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
          </div>
        </div></a>
      
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        
      <a href="#"><div class="card">
        <div class="card__image-container">
          <img class="card__image" src="../../../assets/images/Singapore.jpg" alt="">
        </div>
          
          <svg class="card__svg" viewBox="0 0 800 500">
    
            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>
        
        <div class="card__content">
          <h3 class="card__title">Singapore</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
        </div>
      </div></a>
    
  </div>
    <div class="col-lg-3 col-md-4 col-sm-6" id="adjcard">
      <a href="#"><div class="card">
        <div class="card__image-container">
          <img class="card__image" src="../../../assets/images/UK.jpg" alt="">
        </div>
          
          <svg class="card__svg" viewBox="0 0 800 500">
    
            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>
        
        <div class="card__content">
          <h3 class="card__title">U K</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
        </div>
      </div></a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="#"><div class="card">
        <div class="card__image-container">
          <img class="card__image" src="../../../assets/images/USA.jpg" alt="">
        </div>
          
          <svg class="card__svg" viewBox="0 0 800 500">
    
            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>
        
        <div class="card__content">
          <h3 class="card__title">U S A</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
        </div>
      </div></a>
    </div>
    </div>
  </div>
  
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
