
body {
    font-family: 'Poppins', sans-serif;
}

.testi-header {
    color: black;
    text-align: center;
    font-size: 40px;
}

.testi-area {
    max-width: 100%;
    height: 800px;
    background-image: url('../../../assets/images/back.jpeg');
    background-size: cover;
    padding-top: 40px;
}

.card-back {
    width: 1200px;
    height: 600px;
    position: absolute;
    padding-top: 50px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.6);
}

.card-img-top {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.testi-card {
    width: 70%;
    height: 600px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    left: 14%;
    top: 14%;
    align-items: center;
    padding: 90px 90px;
    text-align: center;
    border: none;
}