
<div class="container" style="color: darkslategrey;">
    <h1 id="heading1">Testimonials</h1>
    
   </div>
  <div class="customcontainer">
    <div class="card-carousel">
      <div class="card" id="1">
        <div class="image-container"></div>
        <div class="card__content"><h3 class="card__title">Australia</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p></div>
      </div>
      <div class="card" id="2">
        <div class="image-container"></div>
  
        <div class="card__content"><h3 class="card__title">Australia</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p></div>
      </div>
      <div class="card" id="3">
        <div class="image-container"></div>
  
        <div class="card__content"><h3 class="card__title">Australia</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p></div>
      </div>  
      <div class="card" id="4">
        <div class="image-container"></div>
  
        <div class="card__content"><h3 class="card__title">Australia</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p></div>
      </div>
      <div class="card" id="5">
        <div class="image-container"></div>
        
        <div class="card__content"><h3 class="card__title">Australia</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, explicabo!</p></div>
      </div>
    </div>
    <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
  </div>

