<div class="container">
			
	<div class="innerwrap">
	
		<section class="section1 clearfix">
			<div class="textcenter">
				<span class="shtext"><h1>Contact Us</h1>
				</span>
				<span class="seperator"></span>
				<h1>Drop Us a Mail</h1>
			</div>
		</section>
	
		<section class="section2 clearfix">
			<div class="col2 column1 first">
				<iframe class= "Maps"src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d483471.9039162909!2d73.14025893208753!3d18.792615352794055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swisdom%20career%20education%20pvt%20ltd!5e0!3m2!1sen!2sin!4v1584890912113!5m2!1sen!2sin"></iframe>
			</div>
			<div class="col2 column2 last">
				<div class="sec2innercont">
					<div class="sec2addr">
						<p>Wisdom Career Education</p>
						<p><span class="collig">Phone :</span> +91 912345678</p>
						<p><span class="collig">Email :</span> abc@gmail.com</p>
						<p><span class="collig">Fax :</span> +91 912345678</p>
					</div>
				</div>
				<div class="sec2contactform">
					<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
					<form action="">
						<div class="clearfix">
							<input class="col2 first" type="text" placeholder="FirstName">
							<input class="col2 last" type="text" placeholder="LastName">
						</div>
						<div class="clearfix">
							<input  class="col2 first" type="Email" placeholder="Email">
							<input class="col2 last" type="text" placeholder="Contact Number">
						</div>
						<div class="clearfix">
							<textarea name="textarea" id="" cols="30" rows="7" placeholder="Your message here..."></textarea>
						</div>
						<div class="clearfix"><input type="submit" value="Send"></div>
					</form>
				</div>

			</div>
		</section>
	
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-4 pb-3">

				<!-- Add a style="height: XYZpx" to div.card to limit the card height and display scrollbar instead -->
				<div class="card card-custom bg-white border-white border-0" style="height: 450px">
					<div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
					<div class="card-custom-avatar">
						<img class="img-fluid" src="../../assets/images/M.png" alt="Avatar" />
					</div>
					<div class="card-body" style="overflow-y: auto">
						<h2 class="card-title">MUMBAI</h2>
						<h5 class="address"><i class="fa fa-map-marker-alt"></i>ADDRESS :</h5>
						<p><Address>Office no: C 221,Tower 2, 2nd Floor,International Infotech Park,Vashi Railway Station Complex,Vashi, Sector 30 A,Navi Mumbai- 400703</Address>
						<i class="fa fa-phone" > </i><span class="form-i">  +91 22 6793 4262</span><br>
						<i class="fa fa-envelope"></i><span class="form-i">  info@wisdomcareereducation.org
						</span>
					</div>
				
				</div>
		</div>


		<div class="col-md-6 col-lg-4 pb-3">

				<!-- Add a style="height: XYZpx" to div.card to limit the card height and display scrollbar instead -->
				<div class="card card-custom bg-white border-white border-0" style="height: 450px">
					<div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
					<div class="card-custom-avatar">
						<img class="img-fluid" src="../../assets/images/P.png" alt="Avatar" />
					</div>
					<div class="card-body" style="overflow-y: auto">
						<h2 class="card-title">PUNE</h2>
						<h5 class="address"><i class="fa fa-map-marker-alt"></i> ADDRESS :</h5>
						<p><Address>Shrikrishna Apt. FL. No. 09, IInd Floor, Shirole Road,
						F C Road, Opp F C College gate
						Shivaji Nagar, Pune-411004
						
						</Address>
						<i class="fa fa-phone" > </i><span class="form-i">  +91 22 6793 4262</span><br>
						<i class="fa fa-envelope"></i><span class="form-i">  info@wisdomcareereducation.org
						</span>
					</div>
					
				</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


