<section id="contact-section">
    <div class="container">
         <h2>Contact Us</h2>
       <p>Email us and keep upto date with our latest news</p>
      <div class="contact-form">

           <!-- First grid -->
        <div>
         <!-- <i class="fa fa-map-marker"></i><span class="form-info">Address</span><br>-->
          <i class="fa fa-phone" > </i><span class="form-info">  +91 22 6793 4262</span><br>
          <i class="fa fa-envelope"></i><span class="form-info">  info@wisdomcareereducation.org
         </span>
        </div>
        
            <!-- second grid -->
    <div>        
      <form>
        <input type="text" placeholder="Full Name" required>
        <input type="text" placeholder="Phone Number" required><br>
        <input type="Email" placeholder="Email" required><br>
        <!--<input type="text" placeholder="Subject of this message"><br>-->
        <textarea name="message" placeholder="Message" rows="4" required></textarea><br>
        <button class="submit" >submit</button> 
      </form>   
        </div>
      </div>
    </div>
  </section>

