

 	<section id="about">
 		
        <div class="container">
            <div class="row">
            <div class="col-md-5">
                <div class="about-img">
                    <img class="shape" src="../../../assets/images/about_tringle.png" alt="">
                    
                    <img class="logo" src="../../../assets/images/logo.png" alt="">
                
                </div>
            </div>
            <br>
            <div class="col-md-7 about-right">
                
                <h2 class="color-3"><b>ABOUT US...</b>
                </h2>
                
                <p class="p-first text-white">
                    Wisdom Career Education Pvt Ltd aims to satisfy the core needs of students, recent graduates and experienced professionals, whilst meeting the needs of industry and international education providers.
                </p>
                <p class="text-white">
                    Programs and services are designed specifically to optimize the career development of students, graduates and industry professionals, at the same time promoting international awareness and cultural exchange.
    
    
                </p>
                <p class="text-white">
                    The main focus is internships, study tours, earn and learn programs as well as professional development programs.
                </p>
                <h3 class="color-3 social-link-text">
                    <button class="btn btn-danger">Follow us</button>
                </h3>
                
                <ul class="about-link">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    
                    
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    
                    
                    <li><a href=""><i class="fab fa-google"></i></a></li>
                    
                    
                    <li><a href=""><i class="fab fa-youtube"></i></a></li>
             
                </ul>		 
                
            </div>
         
            </div>
        </div>
      
         </section>