<div class="start">
<input id="panel-1-ctrl"
class="panel-radios" type="radio" name="tab-radios" checked>
<input id="panel-2-ctrl"
class="panel-radios" type="radio" name="tab-radios">
<input id="panel-3-ctrl"
class="panel-radios" type="radio" name="tab-radios">
<input id="panel-4-ctrl"
class="panel-radios" type="radio" name="tab-radios">
<input id="panel-5-ctrl"
class="panel-radios" type="radio" name="tab-radios">
<input id="nav-ctrl"
class="panel-radios" type="checkbox" name="nav-checkbox">

<header id="introduction">
<h1>Programs Offered By E-Labs</h1>
</header>

<!-- TABS LIST -->
<ul id="tabs-list">
<!-- MENU TOGGLE -->
<label id="open-nav-label" for="nav-ctrl"></label>
<li id="li-for-panel-1">
<label class="panel-label"
      for="panel-1-ctrl">ELAB EMERGE</label>
</li><!--INLINE-BLOCK FIX
--><li id="li-for-panel-2">
<label class="panel-label"
      for="panel-2-ctrl">ELAB ADVANCE</label>
</li><!--INLINE-BLOCK FIX
--><li id="li-for-panel-3">
<label class="panel-label"
      for="panel-3-ctrl">ELAB COMPLETE</label>
</li><!--INLINE-BLOCK FIX
--><li id="li-for-panel-4">
<label class="panel-label"
      for="panel-4-ctrl">ELAB EXTENSION</label>
</li><!--INLINE-BLOCK FIX
--><li id="li-for-panel-5" class="last">
<label class="panel-label"
      for="panel-5-ctrl">ELAB BUSINESS ENGLISH</label>
</li>
<label id="close-nav-label" for="nav-ctrl">Close</label>
</ul>

<!-- THE PANELS -->
<article id="panels">
<div class="container">
<section id="panel-1">
<main>
 <h1>ELAB EMERGE</h1>
 <p>Get ready to launch your startup or join one of the best.</p> 
 <h2>Boot Camp for Aspiring Entrepreneurs</h2>

 <pre>Generate and develop a viable business idea, then take it from concept to complete business <br>plan and investor-ready pitch. Bring a business problem you’d like to solve or we will provide <br>one from a real company – then tackle it and pitch your solutions. Polish your CV and earn a <br>valuable certificate while you get a taste of start-up culture, hone essential skills, and gain <br>an international edge.</pre>
 <h2>Outcomes of the Programs</h2>
 <pre style="line-height: 10px;"><ul>
   <li>A compelling business plan</li>
   <li>An Investor Ready pitch deck</li>
   <li>An eLab certificate</li>
 </ul></pre>
 <h2>Program Fee: <label for="radio-2" class="demo-label">$6500</label></h2>
 <pre>Get more for your money with CIEE’s eLab. There are no hidden charges or disappointing surprises <br>when you arrive.</pre>
 <p>Click one of the labels above and see its effect on the radios above it.</p>
 <h2>Your Fees Includes:</h2>
 <pre style="line-height: 10px;"><ul>
   <li>Intensive 53 contact-hour seminars</li>
   <li>Specialization workshops</li>
   <li>Guest lectures from experienced business founders</li>
   <li>Company visits</li>
   <li>Personal on-site mentoring</li>
   <li>Networking events</li>
   <li>Insurance and other travel benefits, with CIEE iNext Global Explorer Plan</li>
   <li>24/7 emergency on-site support</li>
 </ul></pre>
 <hr>
 <h2>Program Details</h2>
 <h3>ELIGIBILITY</h3>
 <p>We believe you need passion for ideas and processes to be successful as founders and key market players. We look for this passion in our participants, as well as a broad range of backgrounds and experience. We also ask participants to meet these requirements:</p>
 <pre style="line-height: 10px;"><ul>
   <li>A bachelor’s degree or equivalent – a business background is an advantage but not required.</li>
   <li><p>Strong English language speaking and writing skills. All instruction will be provided in <br>English, so this is a must. Each candidate will be evaluated with a Skype interview. <br>(Upgrade your business and professional English skills with us at eLab, with a 20-hour <br>business and professional English course.)</p></li>
   <li><p>A passion for entrepreneurship and start-up culture, shown in your application statement <br>and Skype interview.</p></li>
   <li>An interest in meeting people from around the world and working in an international setting.</li>
 </ul></pre>
 <h3>COMMITMENT</h3>
 <pre>These intensive programs include more than 53 seminar hours, weekly individual and additional <br>mentoring sessions with the option to schedule more, at least five company visits, six fireside <br>chats and approximately 100 project hours. Expect to commit 100 percent of your time for the <br>duration of the program and attend all sessions.</pre>
 <h3>SCHOLARSHIPS</h3>
 <pre>We want to help as many people as possible benefit from eLab. Learn about scholarship.</pre>
 <h3>HOUSING</h3>
 <pre>Housing is not included, but we have carefully researched some options for you. These include <br>one-bedroom and studio apartments, each no more than 20 minutes from eLab. We’re happy to guide <br>you and answer questions.</pre>
</main>
</section>
<section id="panel-2">
<main>
 <h1>ELAB ADVANCE</h1>
 <p>Get ready to launch your startup or join one of the best.</p> 
 <h2>Boot Camp for Aspiring Entrepreneurs</h2>

 <pre>Generate and develop a viable business idea, then take it from concept to complete business <br>plan and investor-ready pitch. Bring a business problem you’d like to solve or we will provide <br>one from a real company – then tackle it and pitch your solutions. Polish your CV and earn a <br>valuable certificate while you get a taste of start-up culture, hone essential skills, and gain <br>an international edge.</pre>
 <h2>Outcomes of the Programs</h2>
 <pre style="line-height: 10px;"><ul>
   <li>A compelling business plan</li>
   <li>An Investor Ready pitch deck</li>
   <li>An eLab certificate</li>
 </ul></pre>
 <h2>Program Fee: <label for="radio-2" class="demo-label">$6500</label></h2>
 <pre>Get more for your money with CIEE’s eLab. There are no hidden charges or disappointing surprises <br>when you arrive.</pre>
 <p>Click one of the labels above and see its effect on the radios above it.</p>
 <h2>Your Fees Includes:</h2>
 <pre style="line-height: 10px;"><ul>
   <li>Intensive 53 contact-hour seminars</li>
   <li>Specialization workshops</li>
   <li>Guest lectures from experienced business founders</li>
   <li>Company visits</li>
   <li>Personal on-site mentoring</li>
   <li>Networking events</li>
   <li>Insurance and other travel benefits, with CIEE iNext Global Explorer Plan</li>
   <li>24/7 emergency on-site support</li>
 </ul></pre>
 <hr>
 <h2>Program Details</h2>
 <h3>ELIGIBILITY</h3>
 <p>We believe you need passion for ideas and processes to be successful as founders and key market players. We look for this passion in our participants, as well as a broad range of backgrounds and experience. We also ask participants to meet these requirements:</p>
 <pre style="line-height: 10px;"><ul>
   <li>A bachelor’s degree or equivalent – a business background is an advantage but not required.</li>
   <li><p>Strong English language speaking and writing skills. All instruction will be provided in <br>English, so this is a must. Each candidate will be evaluated with a Skype interview. <br>(Upgrade your business and professional English skills with us at eLab, with a 20-hour <br>business and professional English course.)</p></li>
   <li><p>A passion for entrepreneurship and start-up culture, shown in your application statement <br>and Skype interview.</p></li>
   <li>An interest in meeting people from around the world and working in an international setting.</li>
 </ul></pre>
 <h3>COMMITMENT</h3>
 <pre>These intensive programs include more than 53 seminar hours, weekly individual and additional <br>mentoring sessions with the option to schedule more, at least five company visits, six fireside <br>chats and approximately 100 project hours. Expect to commit 100 percent of your time for the <br>duration of the program and attend all sessions.</pre>
 <h3>SCHOLARSHIPS</h3>
 <pre>We want to help as many people as possible benefit from eLab. Learn about scholarship.</pre>
 <h3>HOUSING</h3>
 <pre>Housing is not included, but we have carefully researched some options for you. These include <br>one-bedroom and studio apartments, each no more than 20 minutes from eLab. We’re happy to guide <br>you and answer questions.</pre>
</main>
</section>
<section id="panel-3">
<main>
 <h1>ELAB COMPLETE</h1>
 <p>Get ready to launch your startup or join one of the best.</p> 
 <h2>Boot Camp for Aspiring Entrepreneurs</h2>

 <pre>Generate and develop a viable business idea, then take it from concept to complete business <br>plan and investor-ready pitch. Bring a business problem you’d like to solve or we will provide <br>one from a real company – then tackle it and pitch your solutions. Polish your CV and earn a <br>valuable certificate while you get a taste of start-up culture, hone essential skills, and gain <br>an international edge.</pre>
 <h2>Outcomes of the Programs</h2>
 <pre style="line-height: 10px;"><ul>
   <li>A compelling business plan</li>
   <li>An Investor Ready pitch deck</li>
   <li>An eLab certificate</li>
 </ul></pre>
 <h2>Program Fee: <label for="radio-2" class="demo-label">$6500</label></h2>
 <pre>Get more for your money with CIEE’s eLab. There are no hidden charges or disappointing surprises <br>when you arrive.</pre>
 <p>Click one of the labels above and see its effect on the radios above it.</p>
 <h2>Your Fees Includes:</h2>
 <pre style="line-height: 10px;"><ul>
   <li>Intensive 53 contact-hour seminars</li>
   <li>Specialization workshops</li>
   <li>Guest lectures from experienced business founders</li>
   <li>Company visits</li>
   <li>Personal on-site mentoring</li>
   <li>Networking events</li>
   <li>Insurance and other travel benefits, with CIEE iNext Global Explorer Plan</li>
   <li>24/7 emergency on-site support</li>
 </ul></pre>
 <hr>
 <h2>Program Details</h2>
 <h3>ELIGIBILITY</h3>
 <p>We believe you need passion for ideas and processes to be successful as founders and key market players. We look for this passion in our participants, as well as a broad range of backgrounds and experience. We also ask participants to meet these requirements:</p>
 <pre style="line-height: 10px;"><ul>
   <li>A bachelor’s degree or equivalent – a business background is an advantage but not required.</li>
   <li><p>Strong English language speaking and writing skills. All instruction will be provided in <br>English, so this is a must. Each candidate will be evaluated with a Skype interview. <br>(Upgrade your business and professional English skills with us at eLab, with a 20-hour <br>business and professional English course.)</p></li>
   <li><p>A passion for entrepreneurship and start-up culture, shown in your application statement <br>and Skype interview.</p></li>
   <li>An interest in meeting people from around the world and working in an international setting.</li>
 </ul></pre>
 <h3>COMMITMENT</h3>
 <pre>These intensive programs include more than 53 seminar hours, weekly individual and additional <br>mentoring sessions with the option to schedule more, at least five company visits, six fireside <br>chats and approximately 100 project hours. Expect to commit 100 percent of your time for the <br>duration of the program and attend all sessions.</pre>
 <h3>SCHOLARSHIPS</h3>
 <pre>We want to help as many people as possible benefit from eLab. Learn about scholarship.</pre>
 <h3>HOUSING</h3>
 <pre>Housing is not included, but we have carefully researched some options for you. These include <br>one-bedroom and studio apartments, each no more than 20 minutes from eLab. We’re happy to guide <br>you and answer questions.</pre>

</main>
</section>
<section id="panel-4">
<main>
 <h1>ELAB EXTENSION</h1>
 <p>Get ready to launch your startup or join one of the best.</p> 
 <h2>Boot Camp for Aspiring Entrepreneurs</h2>

 <pre>Generate and develop a viable business idea, then take it from concept to complete business <br>plan and investor-ready pitch. Bring a business problem you’d like to solve or we will provide <br>one from a real company – then tackle it and pitch your solutions. Polish your CV and earn a <br>valuable certificate while you get a taste of start-up culture, hone essential skills, and gain <br>an international edge.</pre>
 <h2>Outcomes of the Programs</h2>
 <pre style="line-height: 10px;"><ul>
   <li>A compelling business plan</li>
   <li>An Investor Ready pitch deck</li>
   <li>An eLab certificate</li>
 </ul></pre>
 <h2>Program Fee: <label for="radio-2" class="demo-label">$6500</label></h2>
 <pre>Get more for your money with CIEE’s eLab. There are no hidden charges or disappointing surprises <br>when you arrive.</pre>
 <p>Click one of the labels above and see its effect on the radios above it.</p>
 <h2>Your Fees Includes:</h2>
 <pre style="line-height: 10px;"><ul>
   <li>Intensive 53 contact-hour seminars</li>
   <li>Specialization workshops</li>
   <li>Guest lectures from experienced business founders</li>
   <li>Company visits</li>
   <li>Personal on-site mentoring</li>
   <li>Networking events</li>
   <li>Insurance and other travel benefits, with CIEE iNext Global Explorer Plan</li>
   <li>24/7 emergency on-site support</li>
 </ul></pre>
 <hr>
 <h2>Program Details</h2>
 <h3>ELIGIBILITY</h3>
 <p>We believe you need passion for ideas and processes to be successful as founders and key market players. We look for this passion in our participants, as well as a broad range of backgrounds and experience. We also ask participants to meet these requirements:</p>
 <pre style="line-height: 10px;"><ul>
   <li>A bachelor’s degree or equivalent – a business background is an advantage but not required.</li>
   <li><p>Strong English language speaking and writing skills. All instruction will be provided in <br>English, so this is a must. Each candidate will be evaluated with a Skype interview. <br>(Upgrade your business and professional English skills with us at eLab, with a 20-hour <br>business and professional English course.)</p></li>
   <li><p>A passion for entrepreneurship and start-up culture, shown in your application statement <br>and Skype interview.</p></li>
   <li>An interest in meeting people from around the world and working in an international setting.</li>
 </ul></pre>
 <h3>COMMITMENT</h3>
 <pre>These intensive programs include more than 53 seminar hours, weekly individual and additional <br>mentoring sessions with the option to schedule more, at least five company visits, six fireside <br>chats and approximately 100 project hours. Expect to commit 100 percent of your time for the <br>duration of the program and attend all sessions.</pre>
 <h3>SCHOLARSHIPS</h3>
 <pre>We want to help as many people as possible benefit from eLab. Learn about scholarship.</pre>
 <h3>HOUSING</h3>
 <pre>Housing is not included, but we have carefully researched some options for you. These include <br>one-bedroom and studio apartments, each no more than 20 minutes from eLab. We’re happy to guide <br>you and answer questions.</pre>

</main>
</section>
<section id="panel-5">
<main>
 <h1>ELAB BUSINESS ENGLISH</h1>
 <p>Get ready to launch your startup or join one of the best.</p> 
 <h2>Boot Camp for Aspiring Entrepreneurs</h2>

 <pre>Generate and develop a viable business idea, then take it from concept to complete business <br>plan and investor-ready pitch. Bring a business problem you’d like to solve or we will provide <br>one from a real company – then tackle it and pitch your solutions. Polish your CV and earn a <br>valuable certificate while you get a taste of start-up culture, hone essential skills, and gain <br>an international edge.</pre>
 <h2>Outcomes of the Programs</h2>
 <pre style="line-height: 10px;"><ul>
   <li>A compelling business plan</li>
   <li>An Investor Ready pitch deck</li>
   <li>An eLab certificate</li>
 </ul></pre>
 <h2>Program Fee: <label for="radio-2" class="demo-label">$6500</label></h2>
 <pre>Get more for your money with CIEE’s eLab. There are no hidden charges or disappointing surprises <br>when you arrive.</pre>
 <p>Click one of the labels above and see its effect on the radios above it.</p>
 <h2>Your Fees Includes:</h2>
 <pre style="line-height: 10px;"><ul>
   <li>Intensive 53 contact-hour seminars</li>
   <li>Specialization workshops</li>
   <li>Guest lectures from experienced business founders</li>
   <li>Company visits</li>
   <li>Personal on-site mentoring</li>
   <li>Networking events</li>
   <li>Insurance and other travel benefits, with CIEE iNext Global Explorer Plan</li>
   <li>24/7 emergency on-site support</li>
 </ul></pre>
 <hr>
 <h2>Program Details</h2>
 <h3>ELIGIBILITY</h3>
 <p>We believe you need passion for ideas and processes to be successful as founders and key market players. We look for this passion in our participants, as well as a broad range of backgrounds and experience. We also ask participants to meet these requirements:</p>
 <pre style="line-height: 10px;"><ul>
   <li>A bachelor’s degree or equivalent – a business background is an advantage but not required.</li>
   <li><p>Strong English language speaking and writing skills. All instruction will be provided in <br>English, so this is a must. Each candidate will be evaluated with a Skype interview. <br>(Upgrade your business and professional English skills with us at eLab, with a 20-hour <br>business and professional English course.)</p></li>
   <li><p>A passion for entrepreneurship and start-up culture, shown in your application statement <br>and Skype interview.</p></li>
   <li>An interest in meeting people from around the world and working in an international setting.</li>
 </ul></pre>
 <h3>COMMITMENT</h3>
 <pre>These intensive programs include more than 53 seminar hours, weekly individual and additional <br>mentoring sessions with the option to schedule more, at least five company visits, six fireside <br>chats and approximately 100 project hours. Expect to commit 100 percent of your time for the <br>duration of the program and attend all sessions.</pre>
 <h3>SCHOLARSHIPS</h3>
 <pre>We want to help as many people as possible benefit from eLab. Learn about scholarship.</pre>
 <h3>HOUSING</h3>
 <pre>Housing is not included, but we have carefully researched some options for you. These include <br>one-bedroom and studio apartments, each no more than 20 minutes from eLab. We’re happy to guide <br>you and answer questions.</pre>

</main>
</section>
</div>
</article>
</div>